
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h1>Edit User/Ruler</h1>


<form action="/users/ <%= @user.slug %> " method="POST">

  <!-- Edit User Info -->
  Username : <input type="text" id="username" name="username" value="<%= @user.username %>"><br>
  Password : CURRENTLY NOT ABLE TO BE CHANGED<br>

  <input type="submit" id="submit" value="Edit User Info">
</form>
<br>

<form action="/users/<%= @user.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete User">
</form>
