
<h3>Edit User/Ruler</h3>


<form action="/users/ <%= @user.slug %> " method="POST">

  <!-- Edit User Info -->
  Username : <input type="text" id="username" name="username" placeholder="Username required"><br>
  Password : <input type="text" id="password" name="password" placeholder="Password required"><br><br>

  <input type="submit" id="submit" value="Edit User Info">
</form>
