
<a href="/logout">Log Out</a><br>
<a href="/users/<%=current_user.slug%>">Go to User Page</a>

<h2>List All Users/Rulers</h2>

<ul>
  <% @users.each do |user| %>
    <li><a href="/users/<%= user.slug %>"><%= user.username %></a></li>
  <% end %>
</ul>
