<h1>Create New Kingdom</h1>

<h4><%= @message %><h4>

<form action="/kingdoms" method="POST">
  Kingdom Name : <input type="text" id="name" name="name" placeholder="Name required"><br><br>
  <input type="submit" id="submit" value="Create Kingdom">
</form>
