<h3>List All Kingdoms and Rulers</h3>

<!-- Consider separating in blocks of rulers then kingdoms -->

<ul>
  <% @kingdoms.each do |kingdom| %>
    <li>Kingdom : <a href="/kingdoms/<%= kingdom.slug %>"><%= kingdom.name %></a> || Ruler : <a href="/users/<%= kingdom.user.slug %>"><%= kingdom.user.name %></a></li>
  <% end %>
</ul>
